.label-text {
    .label {
        font-size: 14px;
        font-weight: 500;
        margin: 0;

        text-transform: uppercase;

        color: rgba(black, .6);
    }

    .text {
        font-size: 14px;
        font-weight: 500;
        margin: 0;

        white-space: break-spaces;

        color: black;
    }
}
