.ProjectPage {
    &-head {
        border-bottom: 1px solid rgba(black, .25);
    }

    &-content {
        padding: 20px 0;

        > img {
            width: 100%;
            max-width: 1080px;
        }
    }
}
